/* Body font */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('./Montserrat-Regular.ttf') format('truetype');
}

/* Body font */
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('./Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'FormulaCondensed-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('./FormulaCondensed-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'FormulaCondensed-Black';
    font-weight: 900;
    font-style: normal;
    src: url('./FormulaCondensed-Black.otf') format('opentype');
}
